<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/bbebab2807.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://rupamcompany.000webhostapp.com/smart%20Tubelight/css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						Please Login
					</span>

					<div class="col-auto">
			      <div class="input-group mb-2">
			        <div class="input-group-prepend">
			          <div class="input-group-text"><i class="far fa-envelope"></i></div>
			        </div>
			        <input type="text" class="form-control">
			      </div>
			    </div>

					<div class="col-auto">
			      <div class="input-group mb-2">
			        <div class="input-group-prepend">
			          <div class="input-group-text"><i class="fas fa-key"></i></div>
			        </div>
			        <input type="text" class="form-control">
			      </div>
			    </div>

			    <div class="form-group form-check leftPadding">
				    <input type="checkbox" class="form-check-input">
				    <label class="form-check-label">Remember Me</label>
				  </div>

					<button type="submit" class="btn btn-primary">Login</button>

				</form>
			</div>
		</div>
	</div>
	

	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://rupamcompany.000webhostapp.com/smart%20Tubelight/js/main.js"></script>

</body>
</html>