<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="0;url=/control" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/loader.css">
</head>
<body>
	<!-- <div class="loader">
	    <span></span>
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
	<div style="z-index: 1000;position: relative;top: 500px;">
		<h1 style="color: #fff;text-align: center;">Redirecting to admin pannel...</h1>
	</div> -->
</body>
</html>